@{
	ViewData["Title"] = "Login";
	Layout = "_SimpleLayout";
}

﻿<div class="container">
	@if (ViewData["LoginError"] is not null)
	{
		<div>
			<p>@ViewData["LoginError"]</p>
		</div>
	}
	<form action="@Url.Action("LoginPost")" method="post">
		@Html.AntiForgeryToken()
		<div>
			<label for="">Username:</label>
			<input type="text" class="form-control" name="username" required>
		</div>
		<div>
			<label for="">Password:</label>
			<input type="password" class="form-control" name="password" required>
		</div>
		<br>
		<input type="submit" value="Login" class="btn btn-primary">
	</form>
</div>