@{
	ViewData["Title"] = "Login";
	Layout = "_SimpleLayout";
}

﻿<div>
	@if (ViewData["LoginError"] is not null)
	{
		<div>
			<p>@ViewData["LoginError"]</p>
		</div>
	}
	<form action="@Url.Action("LoginPost")" class="d-flex flex-column gap-2" method="post">
		@Html.AntiForgeryToken()
		<div class="form-floating">
			<input id="username" type="text" class="form-control" name="username" placeholder="" required />
			<label for="username" class="form-label">Username</label>
		</div>
		<div class="form-floating">
			<input id="password" type="password" class="form-control" name="password" placeholder="" required/>
			<label for="password" class="form-label">Password</label>
		</div>
		<div class="d-flex justify-content-center">
			<input type="submit" class="btn btn-primary col-4 col-sm-3 col-md-2" value="Login" style="min-width: 60px !important" />
		</div>
	</form>
</div>