@{
	ViewData["Title"] = "Add new inventory";
}

<div class="d-flex justify-content-center">
	<form class="d-flex flex-column gap-2 col-8" asp-controller="Home" asp-action="AddInventory" method="post">
		<div class="form-floating">
			<input id="inputName" class="form-control" type="text" name="name" placeholder="" required/>
			<label for="inputName">Name</label>
		</div>
		<div class="d-flex justify-content-center">
			<input class="btn btn-outline-danger col-3" type="submit" value="Create"/>
		</div>
	</form>
</div>
