@using Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - TradeMate</title>

	<link rel="stylesheet" href="~/lib/bootstrap/5.3.3/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script>setTheme("@(Context.Session.GetString("data-bs-theme") ?? "auto")");</script>
</head>
<body>
<header>
</header>
<div class="container">
	<main role="main" class="pb-3">
		@RenderBody()
	</main>
</div>
<footer class="border-top footer text-muted">
</footer>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>